@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

@font-face {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 400;
    src: local("Metropolis Medium"), url("../fonts/Metropolis-Medium.woff") format("woff");
}

@font-face {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 600;
    src: local("Metropolis Semi Bold"), url("../fonts/Metropolis-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 700;
    src: local("Metropolis Bold"), url("../fonts/Metropolis-Bold.woff") format("woff");
}

@font-face {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 900;
    src: local("Metropolis Black"), url("../fonts/Metropolis-Black.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Metropolis", sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    padding: 27px 0 0;
    background: linear-gradient(to left, #ffeaf5 710px, #fff 0);
    min-height: 727px;
    position: relative;
}

nav {
    max-width: 1169px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxmenu {
    display: flex;
    gap: 26px;
    list-style: none;
}

.boxmenu li a {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #010101;
}

.boxsearch {
    display: flex;
    align-items: center;
    gap: 33px;
}

.btns1 {
    background: #ed017f;
    border-radius: 4px;
    padding: 8px 20px;

    font-family: "Rubik";
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    color: #ffffff;
}

.headerBottom {
    margin-left: 135px;
    margin-top: 142px;
}

.leftbox h2 {
    font-weight: 900;
    font-size: 63px;
    line-height: 68px;
    color: #010101;
    max-width: 453px;
}

.leftbox > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #676767;
    margin-top: 23px;
    max-width: 380px;
}

.btnsleft {
    margin-top: 38px;
    display: flex;
    gap: 20px;
}

.btnleft {
    background: #ed017f;
    border-radius: 4px;
    padding: 13px 23px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
}

.btnright {
    padding: 13px 20px;
    border: 1px solid #ed017f;
    border-radius: 4px;
    background: transparent;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ed017f;
}

.infobox {
    margin-top: 185px;
    display: flex;
    gap: 18px;
}

.infoleft {
    display: flex;
    gap: 11px;
    align-items: center;
}

.infoleft p {
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;
    color: #010101;
}

.line {
    border: 1px solid #cccccc;
}

.inforight {
    display: flex;
    gap: 16px;
}

.boxright {
    position: absolute;
    right: 0;
    top: 114px;
}

.swiper-slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.swiper {
    width: 883px;
    height: 654px;
}

.swiper-pagination {
    right: 67px !important;
    left: unset !important;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 10px auto !important;
}

.swiper-pagination-bullet-active {
    background: #f467b2;
    box-shadow: 4px 4px 58px rgba(0, 0, 0, 0.12);
    width: 13px;
    height: 13px;
}

.btnright1,
.btnright2 {
    position: absolute;
    background: #ffffff;
    box-shadow: 4px 4px 58px rgba(0, 0, 0, 0.12);
    border-radius: 55px;
    padding: 24.5px 27px;
    display: flex;
    align-items: center;
    gap: 19px;
    z-index: 1;
}

.btnright1 p,
.btnright2 p {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #343434;
}

.btnright1 {
    top: 30px;
    left: 102px;
}

.btnright2 {
    top: 142px;
    right: 58px;
}

.section1 {
    padding: 100px 0 72px;
}

.s1title {
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #343434;
}

.s1subtitle {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #999999;
}

.s1boxes {
    margin: 76px 75px 0 135px;
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 259px));
    justify-content: space-between;
}

.s1box {
    padding: 24px 75px 24px 24px;
}

.s1box-name {
    margin-top: 18px;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #363940;
}

.s1box-descr {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
}

.section2 {
    padding: 78px 0 69px;
    background: rgba(252, 224, 239, 0.2);
}

.s2title {
    font-weight: 400;
    font-size: 23px;
    line-height: 23px;
    letter-spacing: 2.1px;
    color: #343434;
    text-align: center;
    margin-bottom: 88px;
}

.caruselbox {
    margin: 0 135px;
}

.owl-carousel .owl-item img {
    width: unset;
}

.owl-dots {
    margin-top: 67px;
    display: flex;
    justify-content: center;
    gap: 18px;
    align-items: center;
    list-style: none;
}

.owl-dot span {
    background: #cccccc;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: none;
}

.owl-dot.active > span {
    width: 13px;
    height: 13px;
    background: #f467b2;
    box-shadow: 4px 4px 58px rgba(0, 0, 0, 0.12);
}

.s3content {
    display: flex;
    justify-content: space-between;
}

.s3rightbox {
    padding: 140px 260px 59px 102px;
}

.s3title {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #343434;
}

.s3subtitle {
    margin-top: 10px;
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #676767;
}

.s3link {
    display: flex;
    margin-top: 44px;
    align-items: center;
    gap: 7px;
}

.s3link p {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 400;
    font-size: 19.3333px;
    line-height: 27px;
    color: #ed017f;
}

.section4 {
    padding: 106px 0 130px;
    background: #fef9fc;
}

.s4title {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #343434;
}

.s4subtitle {
    margin-top: 20px;
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #999999;
}

.s4content {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 254px));
    gap: 50px;
    justify-content: center;
}

.s4item-text {
    margin-top: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
    justify-content: space-between;
}

.s4item-text p {
    max-width: 195px;

    font-family: "Metropolis";
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #363940;
}

.section5 {
    padding: 106px 0 108px;
}

.s5title {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #343434;
}

.s5subtitle {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #999999;
    max-width: 548px;
    margin: 20px auto 0;
}

.s5content {
    margin-top: 84px;
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 172px));
    column-gap: 126px;
    row-gap: 55px;
    justify-content: center;
    align-items: center;
}

.s5item-num {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    color: #343434;
    transition: all 0.5s;
}

.s5item-text {
    margin-top: 8px;
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #676767;
}

.s5item:hover .s5item-num {
    color: #ed017f;
    transform: translateY(-5px);
}

.section6 {
    padding: 100px 0 116px;
    background: #fef9fc;
}

.s6title {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
}

.s6subtitle {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #999999;
    max-width: 410px;
    margin: 20px auto 0;
}

form {
    margin-top: 34px;
    display: flex;
    gap: 11px;
    justify-content: center;
}

::placeholder {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #cccccc;
}

form input {
    padding: 12px 15px;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 343px;

    font-family: "Metropolis";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #cccccc;
}

form button {
    padding: 13px 24px;
    background: #ed017f;
    border-radius: 4px;

    font-family: "Metropolis";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    border: none;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
}
