@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

@font-face {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 400;
    src: local("Metropolis Medium"), url("../fonts/Metropolis-Medium.woff") format("woff");
}

@font-face {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 600;
    src: local("Metropolis Semi Bold"), url("../fonts/Metropolis-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 700;
    src: local("Metropolis Bold"), url("../fonts/Metropolis-Bold.woff") format("woff");
}

@font-face {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 900;
    src: local("Metropolis Black"), url("../fonts/Metropolis-Black.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Metropolis", sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ed017f;
}

header {
    padding: 27px 0 0;
    background: linear-gradient(to left, #ffeaf5 710px, #fff 0);
    min-height: 727px;
    position: relative;
}

nav {
    max-width: 1169px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxlogo {
    transition: all 0.3s;
}

.boxlogo:hover {
    transform: scale(1.1);
}

.boxmenu {
    display: flex;
    gap: 26px;
    list-style: none;
}

.boxmenu li {
    position: relative;
    transition: all 0.5s;
}

.boxmenu li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background: #ed017f;
    transition: all 0.3s;
}

.boxmenu li:hover::after {
    width: 100%;
}

.boxmenu li:hover {
    transform: translateY(-3px);
}

.boxmenu li a {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #010101;
}

.boxsearch {
    display: flex;
    align-items: center;
    gap: 33px;
}

.boxsearch img {
    cursor: pointer;
    transition: all 0.3s;
}

.boxsearch img:hover {
    transform: scale(1.1);
}

.btns1 {
    background: #ed017f;
    border-radius: 4px;
    padding: 8px 20px;

    font-family: "Rubik";
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    color: #ffffff;
    border: 1px solid #ed017f;
}

.headerBottom {
    margin-left: 135px;
    margin-top: 142px;
}

.leftbox h2 {
    font-weight: 900;
    font-size: 63px;
    line-height: 68px;
    color: #010101;
    max-width: 453px;
}

.leftbox > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #676767;
    margin-top: 23px;
    max-width: 380px;
}

.btnsleft {
    margin-top: 38px;
    display: flex;
    gap: 20px;
}

.btnleft {
    background: #ed017f;
    border-radius: 4px;
    padding: 13px 23px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
}

.btnright {
    padding: 13px 20px;
    border: 1px solid #ed017f;
    border-radius: 4px;
    background: transparent;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ed017f;
}

.infobox {
    margin-top: 185px;
    display: flex;
    gap: 18px;
}

.infoleft {
    display: flex;
    gap: 11px;
    align-items: center;
}

.infoleft p {
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;
    color: #010101;
}

.line {
    border: 1px solid #cccccc;
}

.inforight {
    display: flex;
    gap: 16px;
}

.boxright {
    position: absolute;
    right: 0;
    top: 114px;
}

.swiper-slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.swiper {
    width: 883px;
    height: 654px;
}

.swiper-pagination {
    right: 67px !important;
    left: unset !important;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 10px auto !important;
}

.swiper-pagination-bullet-active {
    background: #f467b2;
    box-shadow: 4px 4px 58px rgba(0, 0, 0, 0.12);
    width: 13px;
    height: 13px;
}

.btnright1,
.btnright2 {
    position: absolute;
    background: #ffffff;
    box-shadow: 4px 4px 58px rgba(0, 0, 0, 0.12);
    border-radius: 55px;
    padding: 24.5px 27px;
    display: flex;
    align-items: center;
    gap: 19px;
    z-index: 1;
}

.btnright1 p,
.btnright2 p {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #343434;
}

.btnright1 {
    top: 30px;
    left: 102px;
}

.btnright2 {
    top: 142px;
    right: 58px;
}

.section1 {
    padding: 100px 0 72px;
}

.s1title {
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #343434;
}

.s1subtitle {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #999999;
}

.s1boxes {
    margin: 76px 75px 0 135px;
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 259px));
    justify-content: space-between;
}

.s1box {
    padding: 24px 75px 24px 24px;
    transition: all 0.5s;
}

.s1box:hover {
    transform: scale(1.05);
}

.owl-item div img {
    transition: all 0.3s;
}

.owl-item div img:hover {
    transform: scale(1.1);
}

.s1box-name {
    margin-top: 18px;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #363940;
}

.s1box-descr {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
}

.section2 {
    padding: 78px 0 69px;
    background: rgba(252, 224, 239, 0.2);
}

.s2title {
    font-weight: 400;
    font-size: 23px;
    line-height: 23px;
    letter-spacing: 2.1px;
    color: #343434;
    text-align: center;
    margin-bottom: 88px;
}

.caruselbox {
    margin: 0 135px;
}

.owl-carousel .owl-item img {
    width: unset;
}

.owl-dots {
    margin-top: 67px;
    display: flex;
    justify-content: center;
    gap: 18px;
    align-items: center;
    list-style: none;
}

.owl-dot span {
    background: #cccccc;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: none;
}

.owl-dot.active > span {
    width: 13px;
    height: 13px;
    background: #f467b2;
    box-shadow: 4px 4px 58px rgba(0, 0, 0, 0.12);
}

.s3content {
    display: flex;
    justify-content: space-between;
}

.s3leftbox img {
    object-fit: cover;
    height: 100%;
}

.s3rightbox {
    padding: 140px 260px 59px 102px;
}

.s3title {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #343434;
}

.s3subtitle {
    margin-top: 10px;
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #676767;
}

.s3link {
    display: flex;
    margin-top: 44px;
    align-items: center;
    gap: 7px;
    cursor: pointer;
}

.s3link p {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 400;
    font-size: 19.3333px;
    line-height: 27px;
    color: #ed017f;
}

.section4 {
    padding: 106px 0 130px;
    background: #fef9fc;
}

.s4item-img img {
    transition: all 0.3s;
}

.s4item-img img:hover {
    scale: 1.03;
}

.s4title {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #343434;
}

.s4subtitle {
    margin-top: 20px;
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #999999;
}

.s4content {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 254px));
    gap: 50px;
    justify-content: center;
}

.s4item-text {
    margin-top: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
    justify-content: space-between;
}

.s4item-text p {
    max-width: 195px;

    font-family: "Metropolis";
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #363940;
}

.s4item-text img {
    cursor: pointer;
}

.section5 {
    padding: 106px 0 108px;
}

.s5title {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #343434;
}

.s5subtitle {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #999999;
    max-width: 548px;
    margin: 20px auto 0;
}

.s5content {
    margin-top: 84px;
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 172px));
    column-gap: 126px;
    row-gap: 55px;
    justify-content: center;
    align-items: center;
}

.s5item-num {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    color: #343434;
    transition: all 0.5s;
}

.s5item-text {
    margin-top: 8px;
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #676767;
}

.s5item:hover .s5item-num {
    color: #ed017f;
    transform: translateY(-5px);
}

.section6 {
    padding: 100px 0 116px;
    background: #fef9fc;
}

.s6title {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
}

.s6subtitle {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #999999;
    max-width: 410px;
    margin: 20px auto 0;
}

form {
    margin-top: 34px;
    display: flex;
    gap: 11px;
    justify-content: center;
}

::placeholder {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #cccccc;
}

form input {
    padding: 12px 15px;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 343px;

    font-family: "Metropolis";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #cccccc;
    outline: none;
}

form button {
    padding: 13px 24px;
    background: #ed017f;
    border-radius: 4px;

    font-family: "Metropolis";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    border: none;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid #ed017f;
}

footer {
    padding: 60px 0 79px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin: 0 135px;
}

.first {
    display: flex;
    justify-content: flex-start;
    gap: 106px;
}

.footer-name {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #010101;
}

.footer-text {
    margin-top: 20px;
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
    max-width: 180px;
}

.social {
    margin-top: 35px;
    margin-left: -5px;
    display: flex;
    gap: 16px;
}

.footer-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.footer-list li {
    transition: all 0.5s;
}

.footer-list li a {
    position: relative;
    transition: all 0.5s;
}

.footer-list li a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background: #ed017f;
    transition: all 0.3s;
}

.footer-list li a:hover::after {
    width: 100%;
}

.footer-list li:hover {
    transform: translateY(-3px);
}

.footer-list li a {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
}

.hamburger {
    display: none;
}

@media (max-width: 1400px) {
    .headerBottom {
        margin-left: 38px;
        margin-top: 180px;
    }
    .s1boxes {
        margin: 76px 60px 0 110px;
    }
    .s3rightbox {
        max-width: 700px;
        padding: 138px 98px 59px 52px;
    }
    .s3leftbox img {
        width: 100%;
    }
    .s4content {
        gap: 28px;
    }
    .footer-content {
        margin: 0 36px;
    }
}

@media (max-width: 1200px) {
    header {
        background: linear-gradient(to left, #ffeaf5 480px, #fff 0);
        min-height: unset;
    }
    .swiper {
        width: 500px;
    }
    .swiper-slide img {
        height: 72%;
    }
    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container {
        padding: 0 20px;
    }
    .btnright1,
    .btnright2 {
        padding: 13.5px 16px;
        gap: 13px;
    }
    .btnright1 p,
    .btnright2 p {
        font-weight: 700;
        font-size: 16px;
    }
    .btnright1 {
        top: 4px;
        left: -27px;
    }
    .btnright2 {
        top: 51px;
        right: 9px;
    }
    .s1boxes {
        grid-template-columns: repeat(3, minmax(auto, 266px));
    }
    .swiper-pagination {
        right: 23px !important;
    }
    .caruselbox {
        margin: 0 55px;
    }
    .section3 .container {
        padding: 0;
    }
    .s3rightbox {
        max-width: 560px;
    }
    .s4content {
        grid-template-columns: repeat(2, minmax(auto, 254px));
        row-gap: 20px;
        column-gap: 100px;
    }
    .s5content {
        column-gap: 67px;
        row-gap: 38px;
    }
    .first {
        display: flex;
        justify-content: flex-start;
        gap: 47px;
    }
}

@media (max-width: 992px) {
    nav {
        position: relative;
    }
    .boxsearch {
        gap: 18px;
    }
    .hamburger {
        display: block;
        width: 26px;
        height: 16px;
    }
    .hamburger span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #000;
        margin-bottom: 5px;
        transition: 0.5s all;
    }
    .boxmenu {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100%;
        padding: 20px 15px;
        background-color: rgba(0, 0, 0, 0.8);
        transition: 0.6s all;
        z-index: 5;
    }
    .hamburger_active {
        position: fixed;
        right: 20px
    }
    .hamburger_active span {
        margin-bottom: -2px;
    }
    .hamburger_active span:nth-child(1) {
        transform: translateY(3px) rotate(-45deg);
    }
    .hamburger_active span:nth-child(2) {
        display: none;
    }
    .hamburger_active span:nth-child(3) {
        transform: translateY(3px) rotate(45deg);
    }
    .boxmenu li a {
        color: #fff;
    }
    .boxmenu li {
        position: relative;
    }
    .boxmenu li::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -15px;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        background: #ed017f;
    }
    .menu_active {
        left: 0;
    }
    .boxright {
        position: relative;
        top: unset;
        margin-top: 50px;
    }
    .headerBottom {
        margin-left: 21px;
        margin-top: 67px;
    }
    .infobox {
        margin-top: 39px;
    }
    header {
        background: linear-gradient(to bottom, #ffeaf5 441px, #fff 0);
    }
    .btnright1 {
        top: 63px;
        left: 34px;
    }
    .btnright2 {
        top: 141px;
        right: 12px;
    }
    .swiper {
        width: unset;
        height: unset;
    }
    .swiper-pagination {
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
    }
    .swiper-pagination-bullet {
        margin: unset !important;
    }
    .s1boxes {
        margin: 70px 20px 10px 50px;
    }
    .s1boxes {
        grid-template-columns: repeat(2, minmax(auto, 321px));
    }
    .s3rightbox {
        max-width: 479px;
        padding: 138px 47px 59px 52px;
    }
    .s5content {
        column-gap: 18px;
    }
    .s5item-num {
        font-size: 36px;
        line-height: 36px;
        text-align: center;
    }
    .s5item-text {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }
    .first {
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .s1boxes {
        margin: 70px 20px 10px 39px;
    }
    .s1box {
        padding: 24px 21px 24px 24px;
    }
    .owl-item div img {
        margin: 0 auto;
    }
    .s3content {
        flex-wrap: wrap;
    }
    .s3leftbox img {
        display: none;
    }
    .s3leftbox {
        background: url("../img/Picture.png") no-repeat top / cover;
        width: 100%;
        height: 500px;
    }
    .s3rightbox {
        max-width: unset;
        padding: 83px 47px 57px 42px;
    }
    .section4 {
        padding: 69px 0 77px;
    }
    .s4content {
        column-gap: 20px;
    }
    .s4item-text p {
        font-size: 18px;
        line-height: 26px;
    }
    .s4item-text {
        margin-top: 9px;
    }
    .s5content {
        grid-template-columns: repeat(2, minmax(auto, 172px));
    }
}

@media (max-width: 576px) {
    .boxsearch img,
    .boxsearch a {
        display: none;
    }
    .headerBottom {
        margin-left: 0px;
        margin-top: 20px;
    }
    .btnsleft {
        gap: 10px;
    }
    .btnleft {
        padding: 12px 11px;
        font-size: 10px;
        line-height: 12px;
    }
    .btnright {
        padding: 12px 7px;
        font-size: 10px;
        line-height: 12px;
    }
    .btnright1,
    .btnright2 {
        display: none;
    }
    header {
        background: linear-gradient(to bottom, #ffeaf5 413px, #fff 0);
    }
    .boxright {
        margin-top: 35px;
    }
    .swiper-pagination-bullet-active {
        width: 8px;
        height: 8px;
    }
    .swiper-pagination-bullet {
        width: 5px;
        height: 5px;
    }
    .section1 {
        padding: 41px 0 32px;
    }
    .s1title {
        font-size: 27px;
        line-height: 26px;
    }
    .s1subtitle {
        margin-top: 9px;
        font-size: 13px;
        line-height: 22px;
    }
    .s1boxes {
        margin: 20px 0;
        grid-template-columns: repeat(1, minmax(auto, 321px));
    }
    .s2title {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 40px;
    }
    .section2 {
        padding: 51px 0 40px;
    }
    .owl-dots {
        margin-top: 26px;
    }
    .owl-dot span {
        width: 5px;
        height: 5px;
    }
    .owl-dot.active > span {
        width: 8px;
        height: 8px;
    }
    .s3leftbox {
        height: 200px;
    }
    .s3rightbox {
        padding: 29px 23px 38px 21px;
    }
    .s3title {
        font-size: 25px;
        line-height: 25px;
    }
    .s3subtitle {
        font-size: 13px;
        line-height: 26px;
    }
    .s3link {
        margin-top: 16px;
    }
    .s3link p {
        font-size: 17.3333px;
        line-height: 18px;
    }
    .section4 {
        padding: 38px 0 49px;
    }
    .s4content {
        grid-template-columns: repeat(1, minmax(auto, 254px));
    }
    .s4title {
        font-size: 30px;
        line-height: 30px;
    }
    .s4subtitle {
        font-size: 13px;
        line-height: 19px;
    }
    .s4content {
        margin-top: 27px;
    }
    .section5 {
        padding: 59px 0 76px;
    }
    .s5title {
        font-size: 32px;
        line-height: 35px;
    }
    .s5subtitle {
        font-size: 13px;
        line-height: 18px;
        margin: 12px auto 0;
    }
    .s5content {
        grid-template-columns: repeat(1, minmax(auto, 172px));
        margin-top: 41px;
    }
    .s5item-num {
        font-size: 30px;
        line-height: 30px;
    }
    .section6 {
        padding: 56px 0 68px;
    }
    form {
        flex-wrap: wrap;
    }
    form input {
        padding: 8px 13px;
        border-radius: 4px;
        width: 248px;
    }
    form button {
        padding: 10px 17px;
    }
    footer {
        padding: 40px 0 45px;
    }
    .footer-content {
        flex-wrap: wrap;
        margin: 0;
    }
    .second {
        margin-top: 20px;
    }
}
